<!doctype html>
<html>
    <head></head>
    <body>
        <h1> Hi I'm you`r pet</h1>
        <div>
            <p>My name is <%= @pet.name %></p>
            <p>My life-states are: <%= @pet.states %></p>
            <p>I have <%= @pet.lifes %> lifes</p>
            <p> <%= @pet.response %></p>
            <p><%= @pet.emoji %></p>
        </div>
        <div class='as'>
            <a href="/water"> Water </a>
            <a> Feed </a>
            <a> Sleep </a>
            <a> Toilet </a>
            <a> Love </a>
            <a> Observe </a>
            <a> Voice </a>
            <a> Play </a>
        </div>            
    </body>
<html>